@{
    ViewData["Title"] = "Test MFA";
}

<div>
    <h1>Please Log In</h1>
    <p>Use the <a asp-area="" asp-controller="Home" asp-action="Secure">Log In</a> and <a asp-area="" asp-controller="Home" asp-action="Signout">Log Out</a> links to test MFA.</p>
</div>
